Cleartext signature framework support (gpg --clearsign)

Currently there does not appear to be support for the plaintext signature framework as described in [RFC4880 section 7](https://tools.ietf.org/html/rfc4880.html#section-7).

This style of signature involves a message which starts with a "`-----BEGIN PGP SIGNED MESSAGE-----`" header, followed by an inline, non-base64-encoded cleartext message body, followed by a regular ASCII armored PGP signature.

The GPG command line tool produces such signatures when invoked with `--clearsign`.

I'm currently working on this. I have a hacky version working and a pretty good idea of what remains to be done, but not sure when I'll get to it. So I'm putting this into the issue tracker so people know to ping me if they are interested in this feature.

Normally I'd make a draft PR but it's currently built on top of some unrelated changes which I'm probably going to revert or at least clean up a bit.

Thanks, would be great to have support for this

I have a use for this @rvolgers! Consider yourself pinged. No pressure :)

Me too. @rvolgers looks like your script is highly sought after! 

Definitely interested in this feature myself!

As the GitHub timeline reference shows, I just implemented initial support for parsing and verifying _cleartext signature framework_ as defined by RFC 4880 Section 7.

My code isn't super tested, likely has bugs, and will almost certainly require some refactoring to get it into a state to be accepted by this project. But it does appear to properly validate and reject at least some cleartext signature inputs.

As the sole author of the commit referenced above, I grant permission for the rgpg project to utilize my code under the terms of the MIT and/or Apache 2.0 licenses and incorporate it into the rgpg project, with or without modifications.

I could potentially cobble together a PR. But my intuition is this will be a lot of work to get merged. I'm perpetually busy, so I'd much prefer someone else push it across the finish line. But if a maintainer spells out exactly what needs done to get this merged and it isn't too much work, I may do this myself. Let me know in a comment.

Thanks a lot, will take a look at how much is left to integrate

I have implemented a CSF hack [here](https://codeberg.org/heiko/rpgpie/src/branch/main/src/msg/csf.rs), and would like to upstream the functionality soon (of course in rpgp the parsing should be done with nom, I'll adjust the implementation for an upcoming PR).

However, I'm unsure about how to model cleartext signed messages in rpgp, and can see two directions:

- a separate type (something like `CleartextMessage`) which is specific to the cleartext signed format. (This approach would imply that some "load" function returns a different enum variant depending on the content of the input stream. And it would make the API for handling cleartext messages more specific to that use case)
- modeling cleartext signed messages as a regular `Message::Signed` which contains one literal and 1+ signature(s)

I think both approaches have some merit, and wonder about thoughts?

I think I would prefer the more explicit approach, given that cleartext messages are quite different from a security perspective

Great, I also had a (weak) preference for that approach.
I'll propose a PR in that direction, soonish.

Finally got around and finished the implementation of this in #328. Took a moment, but hopefully still helpful :) 